In [70]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json

# Import API key
from config import gkey

In [3]:
# get file to make weather_df
file = os.path.join('..','WeatherPy','output','weather_data.csv')

In [5]:
weather_df = pd.read_csv(file)

In [6]:
weather_df.head()

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Adrar,20.5022,-10.0711,79.16,15,0,11.99,MR,1612878869
1,Najrān,17.4924,44.1277,68.00,56,75,6.91,SA,1612878870
2,Tuktoyaktuk,69.4541,-133.0374,-32.44,85,85,6.96,CA,1612878794
3,Severo-Kuril'sk,50.6789,156.1250,25.52,91,100,23.91,RU,1612878778
4,Albany,42.6001,-73.9662,21.99,72,100,4.47,US,1612878607

# Making HeatMap

In [7]:
# configuring gmaps
gmaps.configure(api_key=gkey)

In [11]:
# making dataframe for coordinates
locations = weather_df[['Lat','Lng']]

# making list of humidities for scalars
humidity = weather_df['Humidity']

In [40]:
# making map
fig = gmaps.figure(center=(0,0), zoom_level=1.8, layout={
    'width': '900px',
    'height': '700px',
    'padding': '3px',
    'border': '1px solid black'
})

heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False,
                                 max_intensity=max(humidity), point_radius = 3)
2
fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(border='1px solid black', height='700px', padding='3px', width='900px'))

# Finding My Hotels

In [114]:
# making narrowed down df
hotel_df = weather_df.loc[(weather_df['Max Temp'] < 80) & (weather_df['Max Temp'] > 70) \
                          & (weather_df['Wind Speed'] < 10) & (weather_df['Cloudiness'] == 0)]

In [115]:
hotel_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
53,Jalu,29.0331,21.5482,75.85,17,0,6.67,LY,1612878789
124,Constitución,-35.3333,-72.4167,70.16,63,0,2.95,CL,1612879023
186,Port Alfred,-33.5906,26.8910,79.00,77,0,1.01,ZA,1612879101
214,Abu Kamal,34.4506,40.9171,73.04,25,0,3.15,SY,1612879136
286,Isangel,-19.5500,169.2667,78.03,73,0,6.98,VU,1612879249
331,Uruguaiana,-29.7547,-57.0883,77.00,73,0,5.75,BR,1612879258
393,Ancud,-41.8697,-73.8203,73.40,43,0,8.05,CL,1612879392
399,Antofagasta,-23.6500,-70.4000,75.99,77,0,4.61,CL,1612879203
403,Puerto Asís,0.5133,-76.5007,78.80,89,0,1.14,CO,1612879403
520,Gerāsh,27.6652,54.1371,77.00,23,0,4.61,IR,1612879549

In [116]:
# reseting index
hotel_df = hotel_df.reset_index(drop=True)

In [117]:
hotel_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Jalu,29.0331,21.5482,75.85,17,0,6.67,LY,1612878789
1,Constitución,-35.3333,-72.4167,70.16,63,0,2.95,CL,1612879023
2,Port Alfred,-33.5906,26.8910,79.00,77,0,1.01,ZA,1612879101
3,Abu Kamal,34.4506,40.9171,73.04,25,0,3.15,SY,1612879136
4,Isangel,-19.5500,169.2667,78.03,73,0,6.98,VU,1612879249
5,Uruguaiana,-29.7547,-57.0883,77.00,73,0,5.75,BR,1612879258
6,Ancud,-41.8697,-73.8203,73.40,43,0,8.05,CL,1612879392
7,Antofagasta,-23.6500,-70.4000,75.99,77,0,4.61,CL,1612879203
8,Puerto Asís,0.5133,-76.5007,78.80,89,0,1.14,CO,1612879403
9,Gerāsh,27.6652,54.1371,77.00,23,0,4.61,IR,1612879549

In [132]:
hotel_df['Hotel Name'] = ''

In [133]:
hotel_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
0,Jalu,29.0331,21.5482,75.85,17,0,6.67,LY,1612878789,
1,Constitución,-35.3333,-72.4167,70.16,63,0,2.95,CL,1612879023,
2,Port Alfred,-33.5906,26.8910,79.00,77,0,1.01,ZA,1612879101,
3,Abu Kamal,34.4506,40.9171,73.04,25,0,3.15,SY,1612879136,
4,Isangel,-19.5500,169.2667,78.03,73,0,6.98,VU,1612879249,
5,Uruguaiana,-29.7547,-57.0883,77.00,73,0,5.75,BR,1612879258,
6,Ancud,-41.8697,-73.8203,73.40,43,0,8.05,CL,1612879392,
7,Antofagasta,-23.6500,-70.4000,75.99,77,0,4.61,CL,1612879203,
8,Puerto Asís,0.5133,-76.5007,78.80,89,0,1.14,CO,1612879403,
9,Gerāsh,27.6652,54.1371,77.00,23,0,4.61,IR,1612879549,

In [134]:
# setting up intial parameters for requests
url = 'https://maps.googleapis.com/maps/api/place/nearbysearch/json?'
radius = 5000
keyword = 'hotel'

In [135]:
# running thru cities and requesting hotels
for i in range(len(hotel_df['Lat'])):
    # recording cities lat and lng
    lat = hotel_df['Lat'][i]
    lng = hotel_df['Lng'][i]
     
    # making new url for city
    new_url = f'{url}key={gkey}&radius={radius}&keyword={keyword}&location={lat},{lng}'
    
    # making request for hotels in that city
    response = requests.get(new_url)
    # jsonifying response
    response_json = response.json()
    
    # trying to get hotel name
    try:
        hotel_df.iloc[i,9] = response_json['results'][0]['name']
    except:
        print(f'{hotel_df["City"][i]} has no hotels')

Abu Kamal has no hotels

In [136]:
hotel_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
0,Jalu,29.0331,21.5482,75.85,17,0,6.67,LY,1612878789,Jalu Hotel
1,Constitución,-35.3333,-72.4167,70.16,63,0,2.95,CL,1612879023,Hotel del Rio
2,Port Alfred,-33.5906,26.8910,79.00,77,0,1.01,ZA,1612879101,Royal St Andrews Hotel
3,Abu Kamal,34.4506,40.9171,73.04,25,0,3.15,SY,1612879136,
4,Isangel,-19.5500,169.2667,78.03,73,0,6.98,VU,1612879249,Volcano Sea View Tree House
5,Uruguaiana,-29.7547,-57.0883,77.00,73,0,5.75,BR,1612879258,Hotel Presidente
6,Ancud,-41.8697,-73.8203,73.40,43,0,8.05,CL,1612879392,Panamericana Hotel Ancud
7,Antofagasta,-23.6500,-70.4000,75.99,77,0,4.61,CL,1612879203,Enjoy Antofagasta Hotel Del Desierto
8,Puerto Asís,0.5133,-76.5007,78.80,89,0,1.14,CO,1612879403,HOTEL VASU PUERTO ASIS
9,Gerāsh,27.6652,54.1371,77.00,23,0,4.61,IR,1612879549,Chelpasin

In [138]:
hotel_df = hotel_df.loc[hotel_df['Hotel Name'] != '', :]
hotel_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
0,Jalu,29.0331,21.5482,75.85,17,0,6.67,LY,1612878789,Jalu Hotel
1,Constitución,-35.3333,-72.4167,70.16,63,0,2.95,CL,1612879023,Hotel del Rio
2,Port Alfred,-33.5906,26.8910,79.00,77,0,1.01,ZA,1612879101,Royal St Andrews Hotel
4,Isangel,-19.5500,169.2667,78.03,73,0,6.98,VU,1612879249,Volcano Sea View Tree House
5,Uruguaiana,-29.7547,-57.0883,77.00,73,0,5.75,BR,1612879258,Hotel Presidente
6,Ancud,-41.8697,-73.8203,73.40,43,0,8.05,CL,1612879392,Panamericana Hotel Ancud
7,Antofagasta,-23.6500,-70.4000,75.99,77,0,4.61,CL,1612879203,Enjoy Antofagasta Hotel Del Desierto
8,Puerto Asís,0.5133,-76.5007,78.80,89,0,1.14,CO,1612879403,HOTEL VASU PUERTO ASIS
9,Gerāsh,27.6652,54.1371,77.00,23,0,4.61,IR,1612879549,Chelpasin

In [139]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [142]:
# adding markers
markers = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(markers)

fig

Figure(layout=FigureLayout(border='1px solid black', height='700px', padding='3px', width='900px'))